@import "../Breakpoints/breakpoints.scss";


.coffees-text-zone{
    width: 95%;
    position: absolute;
    left: 25px;
    

    h1{
        font-size: 60px;
        font-family: 'Yellow';
        color: #443229;

        @include media('<=tablet'){
            position: relative;
            font-size: 40px;
            right: 22px;
        }
    }

    p{
        position: relative;
        font-family: 'Sugar';
        width: 60%;
        left: 20%;

        @include media('<=tablet'){
            left: 0px;
            width: 90%;
        }

    }

    section{
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: center;
        width: 60%;

        @include media('<=tablet'){
            padding-bottom: 5px;
        }

        img{
            width: 300px;
            float: left;

            @include media('<=tablet'){
                position: relative;
                width: 150px;
                left: -60px;
            }
        }

        p{
            font-size: 30px;
            line-height: 30px;
            float: right;
            width: 50%;
            padding-top: 5%;
            left: 0;
        
            @include media('<=tablet'){
                position: relative;
                font-size: 16px;
                line-height: 13px;
                float: unset;
                top: -140px;
                left: 110px;
                padding-top: 0;
                width: 100px;
            }
        }
    }

    #steps-line{
        width: 70%;
        background-color: #684028;
        border: 0.5px solid #684028;

        @include media('<=tablet'){
            position: relative;
            bottom: 60px;
            left: -30px;
            margin-top: 5px;
        }
    }

    ul{
        text-align: center;

        @include media('<=tablet'){
            position: relative;
            padding-top: 0;
            margin-top: 0;
            bottom: 60px;
            left: -30px;
        }


        li{

            @include media('<=tablet'){
                text-align: left;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

}