@import "../Breakpoints/breakpoints.scss";

.text-zone{
    width: 90%;
    will-change: contents;
    height: 90%;
    min-width: 556px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: bounceIn 1s forwards;
    animation-delay: 1s;

    @include media('<=tablet'){
        min-width: 200px;
        width: 20%;
        right: 85px;
        top: 80px;
    }


    h1{
        font-family: 'Yellow';
        font-size: 60px;
        color: #443229;

        @include media('<=tablet'){
            position: relative;
            right: 10px;
            top: 20px;
        }

    }
      
    p{
        font-family: 'Sugar';
        font-size: 20px;
        color: #684028;

        @include media('<=tablet'){
            position: relative;
            top: 20px;
        }

    }

    .model-wrapper{
        height: 40%;
        width: 100%;
        padding: 0;


        @include media{
            height: 30%;
            position: relative;
            top: -20px;
        }
    }

}
    
    
