@import "../Breakpoints/breakpoints.scss";

.contact-textzone {
  width: 80%;
  will-change: contents;
  height: 90%;
  min-width: 556px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 0.2s;

  @include media("<=tablet") {
    padding-top: 20px;
  }

  h1 {
    font-size: 60px;
    font-family: "Yellow";
    color: #443229;

    @include media("<=tablet") {
      font-size: 42px;
      width: 50%;
    }
  }

  h2 {
    font-size: 45px;
    font-family: "Yellow";
    color: #443229;
    padding-top: 20px;

    @include media("<=tablet") {
      font-size: 22px;
      padding-top: 2px;
      width: 50%;
    }
  }

  p {
    font-family: "Sugar";
    color: #3084ac;
    font-size: 20px;

    @include media("<=tablet") {
      width: 300px;
      position: relative;
      right: 10px;
      font-size: 15px;
    }
  }

  .contact-model-wrapper {
    height: 40%;
    width: 100%;
    padding: 0;
    padding: 10px 0;
    right: 0;

    @include media("<=tablet") {
      height: 30%;
      position: relative;
      top: -10px;
      right: 140px;
      margin-bottom: 0px;
    }
  }

  .contact-icons {
    @include media("<=tablet") {
      width: 50%;
    }

    h4 {
      font-family: "Sugar";
      font-size: 30px;
      color: #3084ac;
      margin-top: 0;

      @include media("<=tablet") {
        font-size: 20px;
      }
    }

    a {
      padding: 10px;
      font-size: 30px;
    }
  }
}
