.coffeeDesktopNav {
  width: 175px;
  font-size: 15px;
  flex-direction: row;
  flex-flow: row;
  position: relative;
  left: 1200px;
  border-bottom: 2px solid #443229;
  border-right: 2px solid #443229;
  border-left: 2px solid #443229;
  font-weight: 600;
  color: #443229;
  background-color: #ffffff;
  font-family: "Sugar";
  z-index: 5;
  top: 100px;
}

.coffee-nav {
  text-decoration: none;
}
