.coffeeDesktopNav{
    width: 175px;
    font-size: 15px;
    flex-direction: row; 
    position: relative;
    left: 1200px;
    border: 2px solid #443229;
    font-weight: 600;
    color: #443229;
    background-color: #ffffff;
    font-family: 'Sugar';
    z-index: 5;



}


.coffee-nav{
    text-decoration: none;
}
